

    <form action="">
        <label for="phoneNumberInput">Phone number:</label>
        <input id="phoneNumberInput" type="number" placeholder="phone number" />

        <label for="messageInput">Message : </label>
        <input id="messageInput" type="text" placeholder="message" />

        <br/><button type="submit" >Send SMS</button>
    </form>        
